{% include 'links.html' %}
<title>PARIS GRAY-shop</title>
<style>
    body{
        background: #1f4037;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        text-align: center;
    }
    h1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
    }
    h2 ,h3{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    .info{
        height: 30px;
        width: 100px;
        background-color: gray;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 1px 5px 10px darkgray;
    }
</style>
</head>
<body>
<div class="parent">
    <h1>ABOUT PARISGRAY</h1>
</div>
<h2>ABOUT</h2>
<hr>
<h3>ceo: Peris Nyawira <br> <a href=""><button class="info"></button></a></h3>
<p></p>
</body>